body, html {
  height: 100%;
}

.bg {
  /* The image used */
  background-image: url("background.jpeg");

  /* Half height */
  height: 50%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Header color */
#header{
  color: #cc2900;
}

/* Paragraph color */
.lead{
  color: #009999;
}
